{% trans_default_domain 'FOSUserBundle' %}
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}s'inscrire{% endtrans %}</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Blog Post Excerpt -->
            <div class="col-sm-6">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                            {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'registration.submit'|trans }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}